<mat-toolbar color="primary">
    <button mat-icon-button color="default" routerLink="/home" routerLinkActive="true"><mat-icon>home</mat-icon></button>
    <button mat-icon-button color="default" routerLink="/joke" routerLinkActive="true">Jokes</button>
    <button mat-icon-button color="default" routerLink="/trivia" routerLinkActive="true">Trivia</button>
    <button mat-icon-button color="default" routerLink="/quote" routerLinkActive="true">Quote</button>
    <button mat-icon-button color="default" routerLink="/hangman" routerLinkActive="true">Hangman</button>
    </mat-toolbar>